body {
  width: 70%;
  margin: 0 auto;
  background-color: lightcyan;
  color: dimgrey;
  font-family: verdana;
  font-size: 100%
}

h2 {
  color: darkred;
  font-family: indigo;
  font-size: 130%;
}

h1 {
  color: darkred;
  font-family: indigo;
  font-size: 150%;
}

a:link {
  color: white;
}

a:hover {
  color: rebeccapurple;
}

a:active {
  color: pink;
}

#navigation {}

p {
  font-size: 130%;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: sans-serif;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to white on hover */
li a:hover {
  background-color: #fff;
}

.button {
  background-color: #1c87c9;
  border: none;
  color: white;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

table {
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table td, table th {
    text-align: left;
    padding: 8px;
}

table th {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #04AA6D;
    color: white;
}
